@inject NavigationManager nm
@inherits LayoutComponentBase

<div class="wrapper">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main-panel">
        <TopNav />

        @*<div class="top-row px-4 auth">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@

        <div class="content">
            @Body
        </div>
    </div>
</div>
<BlazoredToasts />

@code{

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            nm.NavigateTo($"Login");
            //nm.NavigateTo($"Login?returnUrl={Uri.EscapeDataString(nm.Uri)}");
        }
    }
}