 <div class="side-panel-modal @(CriarNovaEmpresa ? "open blur" : "")" @onclick="OnClosePanel"></div>

<div class="side-panel @(CriarNovaEmpresa ? "open" : "")">
    <header class="side-panel-header">
        <h3>Criar nova empresa</h3>
    </header>
    <div class="side-panel-body">
        <EmpresaForm Empresa="new Empresa()" IsCreating="true" IsEditing="true" OnCreateUpdate="OnCreateUpdate" OnCancel="OnClosePanel" />
    </div>
</div>

@code {

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public bool CriarNovaEmpresa { get; set; }

    [Parameter]
    public EventCallback<bool> CriarNovaEmpresaChanged { get; set; }

    void OnCreateUpdate(int Id)
    {
        NavigationManager.NavigateTo($"/Empresa/Detalhes/{Id}");
    }

    async Task OnClosePanel()
    {
        CriarNovaEmpresa = false;
        await CriarNovaEmpresaChanged.InvokeAsync(CriarNovaEmpresa);
        StateHasChanged();
    }
}

