<div class="side-panel-modal @(CriarNovoColaborador ? "open blur" : "")" @onclick="OnClosePanel"></div>

<div class="side-panel @(CriarNovoColaborador ? "open" : "")">
    <header class="side-panel-header">
        <h3>Criar novo Colaborador</h3>
    </header>
    <div class="side-panel-body">
        <ColaboradorForm Colaborador="new Colaborador()" IsCreating="true" IsEditing="true" OnCreateUpdate="OnCreateUpdate" OnCancel="OnClosePanel"></ColaboradorForm>
    </div>
</div>

@code {    

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public bool CriarNovoColaborador { get; set; }

    [Parameter]
    public EventCallback<bool> CriarNovoColaboradorChanged { get; set; }

    void OnCreateUpdate(int Id)
    {
        NavigationManager.NavigateTo($"/Colaborador/Detalhes/{Id}");
    }

    async Task OnClosePanel()
    {
        CriarNovoColaborador = false;
        await CriarNovoColaboradorChanged.InvokeAsync(CriarNovoColaborador);
        StateHasChanged();
    }

}

