<div class="side-panel-modal @(CriarNovoPedido ? "open blur" : "")" @onclick="OnClosePanel"></div>

<div class="side-panel @(CriarNovoPedido ? "open" : "")">

    <header class="side-panel-header">
        <h3>Criar novo Pedido</h3>
    </header>
    <div class="side-panel-body">
        <PedidosForm Pedido="new Pedido() { EmpresaId = EmpresaId, Data = DateTime.Now }" IsCreating="true" IsEditing="true" CanEdit="true" OnCreateUpdate="OnCreateUpdate" OnCancel="OnClosePanel"></PedidosForm>
    </div>
</div>

@code {

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public int EmpresaId { get; set; }

    [Parameter]
    public bool CriarNovoPedido { get; set; }

    [Parameter]
    public EventCallback<bool> CriarNovoPedidoChanged { get; set; }

    [Parameter]
    public EventCallback CallBack { get; set; }

    async Task OnCreateUpdate(int Id)
    {
        if (CallBack.HasDelegate)
            await CallBack.InvokeAsync();
        else
            NavigationManager.NavigateTo($"/Pedidos/Detalhes/{Id}");

        CriarNovoPedido = false;
        StateHasChanged();
    }

    async Task OnClosePanel()
    {
        CriarNovoPedido = false;
        await CriarNovoPedidoChanged.InvokeAsync(CriarNovoPedido);
        StateHasChanged();
    }
}

