@page "/fetchdata"

@using PAPBackOffice.Data

<h1>Agendamentos</h1>

<p></p>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Pedidos</th>
                <th>Data</th>
                <th>Informação Extra</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
         
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button id="verinfo" style="background-color: #555555; background-color: #4CAF50; /* Green */
                    border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;
                    display: inline-block;font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;background-color: #555555; border-radius:20%; ">Ver</button></td>    
            </tr>
            }
        </tbody>
    </table>
}

