@using Microsoft.AspNetCore.Identity
@using PAPBackOffice.Areas.Identity
@page "/Index"
@inject UserManager<ApplicationUser> UserManager


<Carousel @bind-SelectedSlide="@selectedSlide">
    <CarouselSlide Name="1">
        <img src="/Imagens/Bem vindo.jpg" Display="Display.Block" Style="width: 100%; height:50%!important;" />
    </CarouselSlide>
    <CarouselSlide Name="2">
        <img src="/Imagens/ao BackOffice!.jpg"  Display="Display.Block" Style="width: 100%; height:50% !important;" />
    </CarouselSlide>
</Carousel>
@*<Table Narrow="true" Style="width:50% !important; margin-top: 3%">
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>#</TableHeaderCell>
            <TableHeaderCell>Nome</TableHeaderCell>
            <TableHeaderCell>Email</TableHeaderCell>
            <TableHeaderCell>Função</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader></TableRowHeader>
            <TableRowCell></TableRowCell>
            <TableRowCell></TableRowCell>
            <TableRowCell></TableRowCell>
        </TableRow>
    </TableBody>
</Table>*@

@code{
    private string selectedSlide = "1";


    protected override async Task OnInitializedAsync()
    {
        Utilizadores = await UserManager.Users.ToListAsync();
    }

    List<ApplicationUser> Utilizadores;

}

