@page "/Index"

<h1>Pagina Inicial!</h1>

Conteudo:
<p>
    - Horarios;
</p>
<p>
    - Redes Sociais;
</p>
<p>
    - Feed;
</p>
<p>
    - Alerta de Notificações;
</p>
<p>
    - Nome dos funcionarios;
    </p>


